/***** variables *****/
:root {
    --even-section-bg-color: #9792e4;
}



/***** generics *****/





* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'PT Sans', sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}



/***** utilities *****/

.container {
    width: 100%;
    padding: 0 20px;
}


/** flex **/
.flex {
    display: flex;
}


.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.column {
    width: 100%;
}


.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

/** /flex **/

/*** shared ***/

.card {
    border-radius: 25px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.first-card {
    text-align: start;
    display: flex;
    flex-direction: column;
}

.card.text-left {
    text-align: left;
}


.quoted-text::before,
.quoted-text::after {
    font-size: 70px;
    color: #fff;
    line-height: 0;
    vertical-align: bottom;
}

.quoted-text::before {
    content: open-quote;
}

.quoted-text::after {
    content: close-quote;
}

/*** /shared ***/

/***** content *****/

header {
    position: fixed;
    background-color: #0084fd;
    width: 100%;
    min-height: 80px;
    line-height: 80px;
    z-index: 999;
}

.menu {
    color: #fff;
}

.menu ul {
    display: none;
}

header .fa-bars,
header img {
    vertical-align: middle;
}


main {
    padding-top: 80px;
}


section {
    margin-top: 50px;
    margin-bottom: 50px;
}

section:nth-of-type(even) {
    background-color: var(--even-section-bg-color);
}


/* product-presentation */
#product-presentation .card {
    background-color: #b5ddff;
}

#product-presentation .column:first-child .card {
    padding-bottom: 0;
}

#product-presentation h2 {
    color: var(--even-section-bg-color);
}

#product-presentation button {
    padding: 15px;
    border-radius: 50px;
    background-color: #0084fd;
    color: white;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 0;
}

#product-presentation i {
    color: #0084fd;
    font-size: 80px;
}

#button-1 i {
    color: white;
    font-size: 15px;
}

#product-presentation h2,
p,
i {
    margin-bottom: 40px;
}

#product-presentation h2 {
    color: #0084fd;
}

#button-1 i {
    margin-bottom: 0;
}

/* /product-presentation */
/* planning  */

.planning-white h2 {
    margin-top: 80px;
}

.planning-white p {
    margin-top: 40px;
}

.column-planning {
    color: black;
}

.container-planning {
    width: 100%;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
}

/* / planning */

/*benefits*/
.card-benefits {
    border-radius: 25px;
    text-align: left;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px 5px;
}

.container-benefits h2 {
    color: white;
    margin-bottom: 5px;


}

.card-benefits h2,
h3 {
    color: #9792e4;
    margin-bottom: 20px;
}

.card-benefits button {
    color: white;
    background-color: #9792e4;
    margin-top: 5px;
    width: 120px;
    border: 0;
    border-radius: 15px;
    height: 30px;
}

.benefits-text {
    margin-left: 30px;
}

/* / benefits */

/* aboutus */
.about button {
    background-color: #9792e4;
    color: white;
    width: 180px;
    height: 30px;
    border: 0;
    border-radius: 15px;
    line-height: 30px;
}

.fa-linkedin {
    color: white;
    margin-right: 15px;
}

.aboutus {
    clip-path: circle(50%);
    position: relative;
}

h1 {
    position: absolute;
    color: #9792e4;
    left: 79px;
    font-size: 60px;

}

.about {
    max-width: 80px;
    display: flex;
    flex-direction: column;
    color: #9792e4;
    row-gap: 20px;
}

.about h2 {
    width: 300px;
}

/* / about us */
/* started */
.containter-started p {
    color: white;
    margin: 40px 0;
}

.container-started h2 {
    color: orange;
    margin: 40px 0;
}

.container-started h3 {
    color: white;
    margin: 40px 0;
}

.container-started span {
    margin-top: 40px;
    color: white;
}

.container-started button {
    margin-bottom: 40px;
    color: #9792e4;
    background-color: white;
    width: 180px;
    height: 35px;
    border: 0;
    border-radius: 15px;
}

.container-started {
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

/* / started */

/* testimonials */

#testimonials {
    text-align: center;
}

#testimonials h2 {
    color: var(--even-section-bg-color);
}

#testimonials .card {
    background-color: var(--even-section-bg-color);
}

#testimonials img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%
}


#testimonials .card.flex {
    flex-direction: column;
}

/* /testimonials */

footer {
    background-color: #333333;
}

.end {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: -50px;
    text-align: center;

}

.end a {
    color: aqua;
}

@media screen and (min-width: 768px) {

    #product-presentation .column {
        width: calc(100% / 3);
        padding: 0 10px;
    }

    #product-presentation .column:first-child {
        width: calc(100% / 3 * 2);
    }

    #product-presentation img {
        width: 50%;
    }


    #testimonials .card.flex {
        flex-direction: row;
    }

    #benefits .column {
        width: calc(100% / 2);
    }


}

@media screen and (min-width: 1000px) {

    .menu .fa-bars {
        display: none;
    }

    .menu ul {
        display: flex;
    }

    .menu li {
        display: inline-block;
    }


    #product-presentation .column:first-child .card {
        flex-direction: row;
    }

    .container-planning {
        margin: 0 auto;
        max-width: 750px;
    }

    .container-planning .column {
        width: calc(100% / 2);
    }

    #testimonials .container {
        max-width: 750px;
        margin: 0 auto;
    }

    #benefits .column {
        width: calc(100% / 3);
    }

    #benefits .container-benefits {
        max-width: 750px;
        margin: 0 auto;
    }

}




/***** debug *****/

.debug section {
    min-height: 500px;
}

.debug .column {
    min-height: 200px;
}

.debug .card {
    height: 100%;
}

.debug footer {
    min-height: 160px;
}