/***** generics *****/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}



/***** utilities *****/

.container {
    width: 100%;
    padding: 0 20px;
}

.column-planning {
    color: black;
}

.container-planning {
    width: 100%;
    padding: 80px 20px;
}

.container-started {
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

.container-benefits {
    width: 100%;
    text-align: center;
    padding: 20px 20px;
}

.container-footer {
    text-align: center;
    margin-top: -50px;
}

.partners {
    text-align: center;
}

.partners h2,
span,
p {
    margin-top: 20px;
}

.partners h2 {
    color: #0084fd;
}



/** flex **/
.flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.column {
    width: 100%;
}


.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

/** /flex **/

/*** shared ***/

.card {
    border-radius: 25px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card.text-left {
    text-align: left;
}

.card-partners {
    border-radius: 40px;
    text-align: center;
    background-color: blue;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    color: white;

}

.card-benefits {
    border-radius: 25px;
    text-align: left;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
}

.container-benefits h2 {
    color: white;
    margin-bottom: 50px;
}

.card-benefits h2,
h3 {
    color: #9792e4;
    margin-bottom: 20px;
}

.card-benefits button {
    color: white;
    background-color: #9792e4;
    margin-top: 5px;
    width: 120px;
    border: 0;
    border-radius: 15px;
    height: 30px;
}

.test-1 {
    clip-path: circle(35%);
}



/*** /shared ***/

/***** content *****/

header {
    position: fixed;
    background-color: #0084fd;
    width: 100%;
    min-height: 80px;
    line-height: 80px;
    z-index: 999;
}

.menu {
    color: #fff;
}

.menu ul {
    display: none;
}

header .fa-bars,
header img {
    vertical-align: middle;
    margin-bottom: 0;
}


main {
    padding-top: 80px;
}

.about {
    max-width: 80px;
    display: flex;
    flex-direction: column;
    color: #9792e4;
    row-gap: 20px;
}

.about h2 {
    width: 300px;
}

.titleaboutus {
    color: #9792e4;
}

.about button {
    background-color: #9792e4;
    color: white;
    width: 180px;
    height: 30px;
    border: 0;
    border-radius: 15px;
    line-height: 30px;
}

.fa-linkedin {
    color: white;
    margin-right: 15px;
}

.aboutus {
    clip-path: circle(50%);
    position: relative;
}

h1 {
    position: absolute;
    color: #9792e4;
    left: 79px;
    font-size: 60px;

}

footer {
    background-color: #333333;
}

.end {
    display: flex;
    flex-direction: column;
}


section {
    margin-top: 50px;
    margin-bottom: 50px;
}

section:nth-of-type(even) {
    background-color: #9792e4;
}

.fa-circle-arrow-down {
    color: #9792e4;
    font-size: 35px;

}

.planning-white {
    color: white;

}

.planning-white h2 {
    margin-top: 80px;
}

.planning-white p {
    margin-top: 40px;
}

/* product-presentation */
#product-presentation .card {
    background-color: #b5ddff;
}

#product-presentation .column:first-child .card {
    padding-bottom: 0;
}

#product-presentation button {
    height: 35px;
    border-radius: 50px;
    background-color: #0084fd;
    color: white;
    width: 50%;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 0;

}

#product-presentation i {
    color: #0084fd;
    font-size: 80px;
}

#button-1 i {
    color: white;
    font-size: 15px;
}

#product-presentation h2,
p,
i {
    margin-bottom: 40px;
}

#product-presentation h2 {
    color: #0084fd;
}

#button-1 i {
    margin-bottom: 0;
}

/* /product-presentation */

footer {
    background-color: #333333;
}

.containter-started p {
    color: white;
    margin: 40px 0;
}

.container-started h2 {
    color: orange;
    margin: 40px 0;
}

.container-started h3 {
    color: white;
    margin: 40px 0;
}

.container-started span {
    margin-top: 40px;
    color: white;
}

.container-started button {
    margin-bottom: 40px;
    color: #9792e4;
    background-color: white;
    width: 180px;
    height: 35px;
    border: 0;
    border-radius: 15px;
}




@media screen and (min-width: 768px) {

    #product-presentation .column {
        width: calc(100% / 3);
        padding: 0 10px;
    }

    #product-presentation .column:first-child {
        width: calc(100% / 3 * 2);
    }

    #product-presentation img {
        width: 50%;
    }


}

@media screen and (min-width: 1200px) {

    .menu .fa-bars {
        display: none;
    }

    .menu ul {
        display: flex;
    }

    .menu li {
        display: inline-block;
    }


    #product-presentation .column:first-child .card {
        flex-direction: row;
    }



}